<p>eventbinding works!</p>

<button (click)="myFunction($event)">My button</button>
<button (dblclick)="myFunction($event)">dblclick</button>
    <button (submit)="myFunction1($event)">submit</button>
    <button (blur)="myFunction($event)">My blur</button>
    <button (focus)="myFunction($event)">My focus</button>
    <button (scroll)="myFunction($event)">My scroll</button>
    <button (cut)="myFunction($event)">My cut</button>
    <button (paste)="myFunction($event)">My paste</button>
    <button (keyup)="myFunction($event)">My keyup</button>
    <button (keypress)="myFunction($event)">My keypress</button>
    <button (keydown)="myFunction($event)">My keydown</button>
    <button (mouseup)="myFunction($event)">My mouseup</button>
    <button (mousedown)="myFunction($event)">My mousedown</button>
    <button (mouseenter)="myFunction($event)">My mouseenter</button>
    <button (drag)="myFunction($event)">My drag</button>
    <button (drop)="myFunction($event)">My drop</button>
    <button (dragover)="myFunction($event)">My dragover</button>




